<div class="modal-content add-edit-rule">
  <div class="modal-header">
    <h3 class="modal-title">Add/Edit rule</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-md-2">
          Sensors
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="rule.conjunctionType"
                  ng-options="key as value for (key, value) in conjunctionsTypes">
          </select>
        </div>
      </div>
      <div class="form-group" ng-repeat="trigger in rule.triggers">
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" ng-model="trigger.sensorId"
                    ng-options="sensor.id as sensor.label for sensor in sensors">
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-model="trigger.operator"
                    ng-options="key as value for (key, value) in operators">
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" ng-model="trigger.value">
          </div>
          <div class="col-md-1">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </div>
        </div>

      </div>

      <div class="form-group" ng-repeat="outcomes in rule.triggersOutcomes">
        <div class="row">
          <div class="col-md-2">
            Controllers
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" ng-model="outcomes.controllerId"
                    ng-options="controller.id as controller.label for controller in controllers">
            </select>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" id="title" ng-model="controller.value">
          </div>
          <div class="col-md-1">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>


