<div ng-controller="RulesController"
     class="home-module">
  <content-head></content-head>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-5">Title</th>
      <th class="col-md-3">Priority</th>
      <th class="col-md-3">State</th>
      <th class="col-md-1">Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="rule in model.rules | orderBy: ['-enabled', '-priority'] | filter: searchText">
      <td class="rule-title">
        <label><input type="checkbox"
                      ng-model="rule.isSelected"/></label>
        <button ng-click="addEdit(rule.id)"
                type="button"
                class="btn btn-link btn-xs">{{rule.title}}
        </button>
      </td>
      <td>{{rule.priority}}</td>
      <td>{{rule.enabled ? 'Enabled' : 'Disabled'}}</td>
      <td align="center">
        <button ng-click="addEdit(rule.id)"
                type="button"
                class="btn btn-link btn-sm">
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </button>
        <button type="button"
                class="btn btn-link btn-sm"
                ng-click="delete(rule.id)">
          <span class="glyphicon glyphicon-trash"
                aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
