<section ng-controller="HomeController"
         class="home-module">
  <div class="container">
    <div class="jumbotron">
      <h2>Welcome to your Smart Home!</h2>
    </div>

    <div ng-controller="DashboardController">
      <table class="table table-bordered">
        <tr>
          <th class="col-sm-5">Title</th>
          <th class="col-sm-4">Place</th>
          <th class="col-sm-2">Type</th>
          <th class="col-sm-1">Value</th>
        </tr>
        <tr ng-repeat="sensor in sensorsModel.sensors">
          <td>{{sensor.title}}</td>
          <td>{{sensor.placeTitle}}</td>
          <td>{{sensorsTypesModel[sensor.type].label}}</td>
          <td>{{sensor.value}}</td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr>
          <th class="col-sm-5">Title</th>
          <th class="col-sm-4">Place</th>
          <th class="col-sm-2">Type</th>
          <th class="col-sm-1">Value</th>
        </tr>
        <tr ng-repeat="controller in controllersModel.controllers track by controller.id">
          <td>{{controller.title}}</td>
          <td>{{controller.placeTitle}}</td>
          <td>{{actuatorsTypesModel[controller.type].label}}</td>
          <td> {{controller.value}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
