<label class="col-sm-1 control-label">Sensor</label>
<div class="col-md-4">
  <select class="form-control"
          ng-model="trigger.sensor"
          ng-options="sensor.id as sensor.label for sensor in sensors">
  </select>
</div>
<label class="col-sm-1 control-label">Operator</label>
<div class="col-md-2">
  <select class="form-control"
          ng-model="trigger.compareType"
          ng-options="key as value for (key, value) in operators">
  </select>
</div>
<label class="col-sm-1 control-label">Value</label>
<div class="col-md-2"
     ng-class="{ 'has-error': getValidationMessage() !== ''}">
  <input type="number"
         class="form-control"
         ng-model="trigger.value"
         name="{{ name }}"
         required
         min="{{getMin()}}"
         max="{{getMax()}}"
         tooltip="{{ getValidationMessage() }}" />
</div>
<div class="col-md-1">
            <span class="glyphicon glyphicon-remove-circle"
                  ng-show="index !== 0"
                  ng-click="onRemove({index: index})"></span>
</div>
