<span us-spinner="{radius:12, width:4, length: 8}"
      spinner-on="loading"></span>
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <form name="form">
      <ng-transclude></ng-transclude>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-disabled="form.$invalid"
            class="btn btn-info btn-sm"
            type="button"
            ng-click="save()">Save
    </button>
    <button class="btn btn-default btn-sm"
            type="button"
            ng-click="cancel()">Cancel
    </button>
  </div>
</div>


