<tb-add-edit>
  <div class="form-group"
       ng-class="{ 'has-error': form.title.$error.required && form.title.$touched}">
    <label for="title">Title:</label>
    <input name="title"
           type="text"
           id="title"
           class="form-control"
           ng-model="model.title"
           required>
    <div ng-messages="form.title.$error"
         ng-if="form.title.$touched">
      <div ng-message="required"
           class="help-block with-errors">Required
      </div>
    </div>
  </div>
</tb-add-edit>

