<tb-add-edit>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text"
           class="form-control"
           id="title"
           ng-model="microcontroller.title">
  </div>

  <label for="place">Place:</label>
  <select class="form-control"
          id="place"
          ng-model="microcontroller.place"
          ng-options="place.id as place.title for place in places">
  </select>


  <label for="com-type-loc">Ip:</label>
  <input type="text"
         class="form-control"
         id="com-type-loc"
         ng-model="microcontroller.ip">

  <br/>

  <button class="btn relative"
          ng-class="{'btn-success': pingModel.isAlive}"
          ng-click="ping(microcontroller.ip)">PING
    <span us-spinner="{radius:5, width:2, length: 4}"
          spinner-on="pingModel.loading"></span>
  </button>

</tb-add-edit>
