<div class="form-inline col-md-12">
    <div class="form-group col-md-6">
        <span us-spinner="{radius:5, width:2, length: 4}"
                  spinner-on="sensorsOptionsModel.loading"></span>
        <label>Sensor</label>
        <select class="form-control"
                ng-model="trigger.sensor"
                ng-options="sensor.id as sensor.sensor group by sensor.place for sensor in sensorsOptionsModel.sensorsOptions">
        </select>
    </div>

    <div class="form-group col-md-3">
        <label>Operator</label>
        <select class="form-control"
                ng-model="trigger.compareType"
                ng-options="key as value for (key, value) in operators">
        </select>
    </div>

    <div class="form-group col-md-3" ng-class="{ 'has-error': getValidationMessage()}">
        <label>Value</label>
        <input type="number"
               class="form-control"
               ng-model="trigger.value"
               name="{{ name }}"
               min="{{getMin()}}"
               max="{{getMax()}}"
               required
               uib-tooltip="{{getValidationMessage()}}" />
                        <span class="trigger-remove glyphicon glyphicon-remove-circle"
                              ng-show="index !== 0"
                              ng-click="onRemove({index: index})"></span>
    </div>
</div>