<tb-add-edit>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text"
           class="form-control"
           id="title"
           ng-model="model.title">
  </div>

  <label for="place">Micro Controller:</label>
  <select class="form-control"
          id="place"
          ng-model="model.microController"
          ng-options="microcontroller.id as microcontroller.title group by microcontroller.placeTitle for microcontroller in dataModel.microcontrollers">
  </select>

  <label for="type">Type:</label>
  <select class="form-control"
          id="type"
          ng-model="model.type"
          ng-options="key as value.label for (key , value) in dataModel.sensorsTypes">
  </select>

  <label for="pin">Pin number:</label>
  <input type="number"
         class="form-control"
         id="pin"
         ng-model="model.pinNumber"
         min="0">
</tb-add-edit>
