*[alerts] {
    position: absolute;
    width: 300px;
    display: inline;
    bottom: 0;
    right: 0;
    z-index: 1051;
}

*[alerts] .alert {
    margin-bottom: 5px;
}

.relative {
    position: relative;
}

.btn-default {

}

.btn:focus {
    outline: none !important;
}

.btn-link {
    color: #2C679A;
}

.btn-link:hover {
    text-decoration: none;
}

.checkbox-column {
    width: 10px;
}



